body {
  font-size: 16px;
  background-color: #DACDC9;
  color: ##212121;
}

figcaption {
  font-size: 75%;
  line-height: 2em;
  font-style: italic;
}

h1 {
  font-family: helvetica; sans-serif;
  font-size: 3.5em;
  line-height: 2em;
}

h3 {
  font-family: helvetica; sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

p {
  font-family: helvetica; sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.author {
  line-height: 3em;
  font-weight: bold;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

  a:link { color:#F707CB; } /* unvisited */
  a:visited { color:#F57C00; } /* visited */
  a:hover { color:#00BCD4; } /* mouse over */
  a:active { color:#0288D1; } /* selected */
